.svg-wrapper {
  height: 85px;
  margin: 90px 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 397px;
  padding-left: 27px;
  padding-right: 82px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 19px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  text-align: center;
  top: -48px;
  padding-left: 38px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}